{% extends 'base.html.twig' %}

{% block title %}Commande réussie{% endblock %}

{% block body %}
    <h1>Votre commande a été validée avec succès !</h1>
    <p>Merci pour votre commande. Nous vous contacterons bientôt pour plus de détails.</p>
{% endblock %}