{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Commande</h1>
            {{ form_start(form,{'attr':{'data-turbo':'false'}}) }}
                {{ form_widget(form) }}
                <br>
                <input value="continuer" type="submit" class="btn btn-outline-primary">
            {{ form_end(form) }}
        </div>
        <div class="col-4"><br>
            <span>Montant à payer</span>
            <h4 >
                <span id="prix-panier">{{total}} Dinars</span>
            </h4>
            <span>Frais de livraison</span>
            <h4>
                <span id="shippingCost"><span>
                Dinars
            </h4>
            <span>Montant total à payer</span>
            <h4>
                <span class="prix-total"></span>
                Dinars
            </h4>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        const citySelector= $('#commande-city');
        const cityValue= citySelector.val()

        const url=`http://localhost:8000/city/${cityValue}/shipping/cost`;

        function ajaxRequest(url){
            $.ajax({
                url:url,
                type:'GET',
                success:function(response){
                    const newResponse = JSON.parse(response);
                    if(parseInt(newResponse.status)===200){
                        $("#shippingCost").text(newResponse.content);
                        const prixPanier=parseInt($('#prix-panier').text());
                        const shipping=parseInt($('#shippingCost').text());
                        $(.total-prix).text(prixPanier+shipping);
                    }
                },
                error:function (whr,status,error) {
                    
                }
            })
        }

        ajaxRequest(url);

        citySelector.on('change',function () {
            const urlUpdate=`http://localhost:8000/city/${$(this).val()}/shipping/cost`;
            alert(urlUpdate);
        })
    })
</script>
{% endblock %}
